nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-image: url('../img/pizza.jpg');
    background-repeat: no-repeat;
    background-size: 100% 350%;
    /* background-color: red; */
}

.my-head-space {
    margin-top: 150px;
}

.nav_links {
    position: absolute;
    top: 50px;
    right: 5%;
    font-size: 2rem;

}