#Toppings {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.Toppings_checkbox {
    width: 11px;
    height: 11px;
}

.Toppings_single {
    text-align: center;
    width: 150px;
}

.Toppings_checkbox-txt {
    font-size: 1.4rem;
}

.form-header {
    font-size: 1.6rem;
}